In [1]:
import math
import pandas as pd

In [2]:
flights = pd.read_csv('Git_Cleaning_Projects/In_Progress_Data_Cleaning_and_Visualization/Hartsfield_Jackson_Airport/Raw_Data/flights.csv')

#Changes time format to be rounded to the nearest 15 minuites
flights['SCHEDULED_DEPARTURE'] = flights['SCHEDULED_DEPARTURE'].apply(lambda x: int(x / 100) * 100 + (round(x % 100 /15) * 15) if ((round(x % 100 /15) * 15) != 60) else (int(x / 100) * 100 + (round(x % 100 /15) * 15) + 40))



#Creating two dataframes that individually hold the delays the airport it liable for (airportDelay) and delays that the 
#airlines are liable for (flightsDelay) to be later exported and visualized
airportDelay = flights[['MONTH', 'DAY', 'DAY_OF_WEEK', 'AIRLINE', 'DESTINATION_AIRPORT', 'SCHEDULED_DEPARTURE','DIVERTED', 'CANCELLED', 'CANCELLATION_REASON']]
delays = flights[['MONTH', 'DAY', 'DAY_OF_WEEK', 'AIRLINE','ORIGIN_AIRPORT', 'DESTINATION_AIRPORT', 'SCHEDULED_DEPARTURE', 'DEPARTURE_DELAY', 'TAXI_OUT',  'TAXI_IN', 'WHEELS_OFF', 'AIR_TIME', 'DISTANCE', 'AIR_SYSTEM_DELAY', 'SECURITY_DELAY', 'AIRLINE_DELAY', 'LATE_AIRCRAFT_DELAY', 'WEATHER_DELAY']].dropna()


#Creating two seperate dataframes for airportDelay to see patters for which flights were delayed (airportDelayD) and patterns
#for flights that were canceled (airportDelayC)
airportDelayD = airportDelay[airportDelay['DIVERTED'] != 0].drop(columns = ['CANCELLED', 'CANCELLATION_REASON']).copy()
airportDelayC = airportDelay[airportDelay['CANCELLED'] != 0].drop(columns = ['DIVERTED']).copy()

airportDelayD.set_index('MONTH', inplace = True)
airportDelayC.set_index('MONTH', inplace = True)
delays.set_index('MONTH', inplace = True)

flights

Z:\Anaconda\envs\rstudio\lib\site-packages\IPython\core\interactiveshell.py:3457: DtypeWarning: Columns (7,8) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,YEAR,MONTH,DAY,DAY_OF_WEEK,AIRLINE,FLIGHT_NUMBER,TAIL_NUMBER,ORIGIN_AIRPORT,DESTINATION_AIRPORT,SCHEDULED_DEPARTURE,...,ARRIVAL_TIME,ARRIVAL_DELAY,DIVERTED,CANCELLED,CANCELLATION_REASON,AIR_SYSTEM_DELAY,SECURITY_DELAY,AIRLINE_DELAY,LATE_AIRCRAFT_DELAY,WEATHER_DELAY
0,2015,1,1,4,AS,98,N407AS,ANC,SEA,0,...,408.0,-22.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
1,2015,1,1,4,AA,2336,N3KUAA,LAX,PBI,15,...,741.0,-9.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
2,2015,1,1,4,US,840,N171US,SFO,CLT,15,...,811.0,5.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
3,2015,1,1,4,AA,258,N3HYAA,LAX,MIA,15,...,756.0,-9.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4,2015,1,1,4,AS,135,N527AS,SEA,ANC,30,...,259.0,-21.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5819074,2015,12,31,4,B6,688,N657JB,LAX,BOS,2400,...,753.0,-26.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
5819075,2015,12,31,4,B6,745,N828JB,JFK,PSE,2400,...,430.0,-16.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
5819076,2015,12,31,4,B6,1503,N913JB,JFK,SJU,2400,...,432.0,-8.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
5819077,2015,12,31,4,B6,333,N527JB,MCO,SJU,2400,...,330.0,-10.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
5819078,2015,12,31,4,B6,839,N534JB,JFK,BQN,2400,...,442.0,2.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
airportDelayD.to_csv('Git_Cleaning_Projects/In_Progress_Data_Cleaning_and_Visualization/Hartsfield_Jackson_Airport/Cleaned_Datasets/Flights_Airport_Delay_Diverted.csv')
airportDelayD

,DAY,DAY_OF_WEEK,AIRLINE,DESTINATION_AIRPORT,SCHEDULED_DEPARTURE,DIVERTED
MONTH,,,,,,
1,1,4,DL,ATL,645,1
1,1,4,OO,IAH,745,1
1,1,4,WN,JAX,845,1
1,1,4,EV,HRL,900,1
1,1,4,WN,OKC,930,1
...,...,...,...,...,...,...
12,31,4,UA,LAX,1400,1
12,31,4,EV,BRO,1530,1
12,31,4,UA,SMF,1730,1
12,31,4,MQ,FAR,1830,1
12,31,4,WN,ABQ,2000,1

In [4]:
airportDelayC.to_csv('Git_Cleaning_Projects/In_Progress_Data_Cleaning_and_Visualization/Hartsfield_Jackson_Airport/Cleaned_Datasets/Clean_Airport_Delay_Cancelled.csv')
airportDelayC

,DAY,DAY_OF_WEEK,AIRLINE,DESTINATION_AIRPORT,SCHEDULED_DEPARTURE,CANCELLED,CANCELLATION_REASON
MONTH,,,,,,,
1,1,4,AS,SEA,130,1,A
1,1,4,AA,DFW,200,1,B
1,1,4,OO,IAH,515,1,B
1,1,4,MQ,DFW,530,1,B
1,1,4,OO,SFO,530,1,A
...,...,...,...,...,...,...,...
12,31,4,UA,TPA,2000,1,A
12,31,4,UA,LAX,2000,1,A
12,31,4,AA,SAN,2015,1,A
12,31,4,NK,IAG,2200,1,A
12,31,4,AA,MIA,2215,1,A

In [5]:
delays.to_csv('Git_Cleaning_Projects/In_Progress_Data_Cleaning_and_Visualization/Hartsfield_Jackson_Airport/Cleaned_Datasets/Cleaned_Delays')
delays

,DAY,DAY_OF_WEEK,AIRLINE,ORIGIN_AIRPORT,DESTINATION_AIRPORT,SCHEDULED_DEPARTURE,DEPARTURE_DELAY,TAXI_OUT,TAXI_IN,WHEELS_OFF,AIR_TIME,DISTANCE,AIR_SYSTEM_DELAY,SECURITY_DELAY,AIRLINE_DELAY,LATE_AIRCRAFT_DELAY,WEATHER_DELAY
MONTH,,,,,,,,,,,,,,,,,
1,1,4,NK,MSP,FLL,115,12.0,14.0,40.0,141.0,166.0,1487,25.0,0.0,0.0,0.0,0.0
1,1,4,NK,PHX,ORD,130,72.0,9.0,10.0,246.0,156.0,1440,43.0,0.0,0.0,0.0,0.0
1,1,4,HA,LAS,HNL,145,0.0,16.0,8.0,201.0,361.0,2762,0.0,0.0,15.0,0.0,0.0
1,1,4,B6,BQN,MCO,300,-3.0,25.0,11.0,329.0,160.0,1129,20.0,0.0,0.0,0.0,0.0
1,1,4,B6,SJU,MCO,400,95.0,9.0,3.0,544.0,163.0,1189,0.0,0.0,85.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12,31,4,B6,MCO,BQN,2345,21.0,10.0,7.0,13.0,145.0,1129,0.0,0.0,17.0,3.0,0.0
12,31,4,AS,SEA,MSP,2400,16.0,10.0,5.0,21.0,189.0,1399,12.0,0.0,16.0,0.0,0.0
12,31,4,NK,FLL,BQN,2400,13.0,15.0,19.0,26.0,121.0,982,15.0,0.0,13.0,0.0,0.0
12,31,4,B6,LAS,JFK,2400,159.0,34.0,5.0,312.0,243.0,2248,0.0,0.0,159.0,0.0,0.0
12,31,4,B6,SLC,MCO,2400,16.0,14.0,25.0,29.0,211.0,1931,1.0,0.0,16.0,0.0,0.0