In [107]:
import pandas as pd

In [108]:
delays = pd.read_csv('Git_Cleaning_Projects/In_Progress_Data_Cleaning_and_Visualization/Hartsfield_Jackson_Airport/Cleaned_Datasets/Cleaned_Delays')
flights = pd.read_csv('Git_Cleaning_Projects/In_Progress_Data_Cleaning_and_Visualization/Hartsfield_Jackson_Airport/Raw_Data/flights.csv')

C:\Users\K\AppData\Local\Temp\ipykernel_14896\562053554.py:1: DtypeWarning: Columns (4,5) have mixed types. Specify dtype option on import or set low_memory=False.
  delays = pd.read_csv('Git_Cleaning_Projects/In_Progress_Data_Cleaning_and_Visualization/Hartsfield_Jackson_Airport/Cleaned_Datasets/Cleaned_Delays')
C:\Users\K\AppData\Local\Temp\ipykernel_14896\562053554.py:2: DtypeWarning: Columns (7,8) have mixed types. Specify dtype option on import or set low_memory=False.
  flights = pd.read_csv('Git_Cleaning_Projects/In_Progress_Data_Cleaning_and_Visualization/Hartsfield_Jackson_Airport/Raw_Data/flights.csv')

In [123]:
dayDict = { 
        1 : 'Monday',
        2 : 'Tuesday',
        3 : 'Wendsday',
        4 : 'Thursday',
        5 : 'Friday',
        6 : 'Saturday',
        7 : 'Sunday'
    }
eplode = (0, 0, 0, 0, 0, 0, 0)
delaysDays = pd.DataFrame()
delaysAir = pd.DataFrame()
delaysDays['FLIGHTS'] = flights['DAY_OF_WEEK'].apply(lambda x : dayDict[x]).value_counts()
delaysDays['DELAYS'] = delays['DAY_OF_WEEK'].apply(lambda x : dayDict[x]).value_counts()
delaysAir['AIRLINE'] = delays['AIRLINE'].value_counts()#.apply(lambda x : (delaysAir['AIRLINE'] + x / delays['AIRLINE'].nunique() if (x / delays['AIRLINE'].nunique() < 3))
delaysAir
#temp
#delaysDays.plot(kind = 'pie', subplots = True, figsize = (15,5), autopct='%1.2f%%', cmap = 'tab10', legend = False, 
#                shadow = True, startangle=15, labeldistance=1.2)
#delaysAir.plot(kind = 'pie', subplots = True, figsize = (15,5), autopct='%1.2f%%', cmap = 'tab20', legend = False, 
#                shadow = True, startangle=15, labeldistance=1.2)

    AIRLINE
WN   236626
AA   130279
DL   118023
EV   109184
OO   107795
UA   104722
MQ    60547
B6    59175
US    36549
NK    34221
F9    23570
AS    22352
VX    11778
HA     8618