In [86]:
import math
import pandas as pd

In [101]:
flights = pd.read_csv('Git_Cleaning_Projects/In_Progress_Data_Cleaning_and_Visualization/Hartsfield_Jackson_Airport/Raw_Data/flights_test_size.csv')

#Changes time format to be rounded to the nearest 15 minuites
flights['SCHEDULED_DEPARTURE'] = flights['SCHEDULED_DEPARTURE'].apply(lambda x: int(x / 100) * 100 + (round(x % 100 /15) * 15) if ((round(x % 100 /15) * 15) != 60) else (int(x / 100) * 100 + (round(x % 100 /15) * 15) + 40))



#Creating two dataframes that individually hold the delays the airport it liable for (airportDelay) and delays that the 
#airlines are liable for (flightsDelay) to be later exported and visualized
airportDelay = flights[['MONTH', 'DAY', 'DAY_OF_WEEK', 'AIRLINE','ORIGIN_AIRPORT', 'DESTINATION_AIRPORT', 'SCHEDULED_DEPARTURE','DIVERTED', 'CANCELLED', 'CANCELLATION_REASON', 'AIR_SYSTEM_DELAY', 'SECURITY_DELAY']]
flightsDelay = flights[['MONTH', 'DAY', 'DAY_OF_WEEK', 'AIRLINE','ORIGIN_AIRPORT', 'DESTINATION_AIRPORT', 'SCHEDULED_DEPARTURE', 'DEPARTURE_DELAY', 'TAXI_OUT',  'TAXI_IN', 'WHEELS_OFF', 'AIR_TIME', 'DISTANCE']]


#Creating two seperate dataframes for airportDelay to see patters for which flights were delayed (airportDelayD) and patterns
#for flights that were canceled (airportDelayC)
airportDelayD = airportDelay[airportDelay['DIVERTED'] != 0].drop(columns = ['CANCELLED','CANCELLATION_REASON', 'AIR_SYSTEM_DELAY', 'SECURITY_DELAY']).copy()
airportDelayC = airportDelay[airportDelay['CANCELLED'] != 0].drop(columns = ['DIVERTED','CANCELLATION_REASON', 'AIR_SYSTEM_DELAY', 'SECURITY_DELAY']).copy()

airportDelayD.reset_index(drop = True, inplace = True)
airportDelayC.reset_index(drop = True, inplace = True)

flights

,YEAR,MONTH,DAY,DAY_OF_WEEK,AIRLINE,FLIGHT_NUMBER,TAIL_NUMBER,ORIGIN_AIRPORT,DESTINATION_AIRPORT,SCHEDULED_DEPARTURE,...,ARRIVAL_TIME,ARRIVAL_DELAY,DIVERTED,CANCELLED,CANCELLATION_REASON,AIR_SYSTEM_DELAY,SECURITY_DELAY,AIRLINE_DELAY,LATE_AIRCRAFT_DELAY,WEATHER_DELAY
0,2015,1,1,4,AS,98,N407AS,ANC,SEA,0,...,408.0,-22.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
1,2015,1,1,4,AA,2336,N3KUAA,LAX,PBI,15,...,741.0,-9.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
2,2015,1,1,4,AA,258,N3HYAA,LAX,MIA,15,...,756.0,-9.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
3,2015,1,1,4,US,840,N171US,SFO,CLT,15,...,811.0,5.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4,2015,1,1,4,NK,612,N635NK,LAS,MSP,30,...,509.0,-17.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,2015,1,1,4,WN,894,N376SW,SEA,OAK,1700,...,1851.0,-14.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
9996,2015,1,1,4,WN,1120,N419WN,SFO,SNA,1700,...,1831.0,1.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
9997,2015,1,1,4,US,454,N177US,SFO,PHX,1700,...,1946.0,-19.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
9998,2015,1,1,4,AA,1613,N3BBAA,SJU,MIA,1700,...,1850.0,-10.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
9999,2015,1,1,4,DL,367,N309US,SLC,SAT,1700,...,2119.0,38.0,0,0,NaN,26.0,0.0,12.0,0.0,0.0

In [111]:
airportDelayD

,MONTH,DAY,DAY_OF_WEEK,AIRLINE,ORIGIN_AIRPORT,DESTINATION_AIRPORT,SCHEDULED_DEPARTURE,DIVERTED
0,1,1,4,DL,OMA,ATL,645,1
1,1,1,4,OO,MKE,IAH,745,1
2,1,1,4,WN,ATL,JAX,845,1
3,1,1,4,EV,IAH,HRL,900,1
4,1,1,4,WN,MDW,OKC,930,1
5,1,1,4,AA,OMA,DFW,1100,1
6,1,1,4,OO,SLC,SUN,1115,1
7,1,1,4,EV,DEN,GUC,1115,1
8,1,1,4,EV,IAH,ABQ,1130,1
9,1,1,4,EV,IAH,HRL,1130,1
10,1,1,4,UA,SAN,IAD,1315,1
11,1,1,4,EV,CRP,HRL,1415,1
12,1,1,4,OO,IAH,ASE,1430,1
13,1,1,4,WN,LAS,MCO,1615,1
14,1,1,4,US,PHL,LAS,1615,1

In [112]:
airportDelayC

,MONTH,DAY,DAY_OF_WEEK,AIRLINE,ORIGIN_AIRPORT,DESTINATION_AIRPORT,SCHEDULED_DEPARTURE,CANCELLED
0,1,1,4,AS,ANC,SEA,130,1
1,1,1,4,AA,PHX,DFW,200,1
2,1,1,4,OO,MAF,IAH,515,1
3,1,1,4,MQ,SGF,DFW,530,1
4,1,1,4,OO,RDD,SFO,530,1
...,...,...,...,...,...,...,...,...
387,1,1,4,MQ,DFW,SJT,1700,1
388,1,1,4,OO,DEN,FAR,1700,1
389,1,1,4,MQ,DFW,ROW,1700,1
390,1,1,4,AA,JFK,AUS,1700,1
391,1,1,4,UA,DFW,DEN,1700,1